.cabecalho {
  display: flex;
  justify-content: space-around;
  padding-top: 120px;
}

.imagem-logo {
  background-image: url("../../../public/imagens/logo-pequeno.png");
  background-repeat: no-repeat;
  background-size: 225px;
  background-position: center;
  width: 351px;
  min-height: 117px;
}

.participante {
  z-index: 1;
}

@media screen and (max-width: 800px) {
  .cabecalho {
      padding-top: 60px;
      flex-direction: column;
      align-items: center;
  }

  .imagem-logo {
      background-image: url("../../../public/imagens/logo-pequeno.png");
      width: 235px;
      height: 199px;
  }
}